.menu .label, .menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu:hover, .menu:showing, .menu-item:focused {
    -fx-background-color: #cc0000;
}

.context-menu {
    -fx-background-color: #161a1d;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 4 1 8 1;
}