.check-box:selected > .box {
/*     background color for selected checkbox */
    -fx-background-color:  #75a3a3;
}

.check-box > .box {
    /* background color of unselected checkbox */
   -fx-background-color: white; 
}

.check-box > .box > .mark {
    -fx-background-color: white;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: white;
}

.button:hover {
  -fx-background-color: white; /* Green */
  -fx-color: #75a3a3;
}